/* CSS RESET */
html{color:#000;background:#FFF;user-select:none}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
button { outline: 0; }
hr { clear: both; visibility: hidden; height: 0; border: 0 none; position: absolute; left: -999999px; top: -999999px; }
button:focus, a:focus { outline: none; }

html { background: #f2f2f2; }
body { overflow-x: hidden; font-family: "Roboto", "Spoqa Han Sans", "NotoSans Regular", "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", 돋움, dotum, sans-serif; }

::selection { background: #df0019; }
.screenOut{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

header { margin: 30px auto; position: relative; max-width: 1730px; min-width: 1240px; height: 46px; }
header h1 { position: absolute; left: 35px; }
header h1 img { width: 46px; height: 46px; }

header nav { position: absolute; right: 35px; }
header nav:after { content: ""; display: block; clear: both; }
header nav ul.gnb { float: left; margin-top: 18px; }
header nav ul.gnb li { display: inline-block; margin-right: 55px; height: 12px; text-indent: -99999px; }
header nav ul.gnb li:last-child { margin-right: 50px; }
header nav ul.gnb li a { background: url("../images/common.svg") no-repeat; height: 12px; display: block; }
header nav ul.gnb li a:hover, header nav ul.gnb li a:focus, header nav ul.gnb li.active a { filter: contrast(2); }
header nav ul.gnb li a:hover:after, header nav ul.gnb li a:focus:after, header nav ul.gnb li.active a:after { display: block; content: ""; width: 4px; height: 4px; border-radius: 50%; background: #df0019; margin: 0 auto; }

header nav ul.gnb li:nth-child(1) a { background-position: -283px -76px; width: 52px; }
header nav ul.gnb li:nth-child(2) a { background-position: -355px -76px; width: 50px; }
header nav ul.gnb li:nth-child(3) a { background-position: -75px -76px; width: 93px; }
header nav ul.gnb li:nth-child(4) a { background-position: -188px -76px; width: 75px; }

header nav ul.function { float: right; margin-top: 5px; position: relative; }
header nav ul.function > li { margin-right: 20px; display: inline-block; vertical-align: top; }
header nav ul.function li:last-child { margin: 0; }

header nav ul.function > li > a, header nav ul.function > li > button { display: block; width: 40px; height: 40px;  border-radius: 50%; background: #232424; border: none; text-indent: -999999px; padding: 0; margin: 0; }
header nav ul.function > li > a:hover, header nav ul.function > li > a:focus { background: #001eff; }
header nav ul.function > li > button:hover, header nav ul.function > li > button:focus { background: #df0019; }

header nav ul.function > li > button:active, header nav ul.function > li > a:active { filter: brightness(.6); }

header nav ul.function > li span { background: url("../images/common.svg") no-repeat; display: block; margin: 0 auto; }
header nav ul.function > li.chat span { width: 18px; height: 16px; background-position: -234px -108px; transform: translateY(80%); }
header nav ul.function > li.more span { width: 15px; height: 15px; background-position: 0 -206px; transform: translateY(-4%); }
header nav ul.function > li.more button.ing { background: #df0019; transform: rotate(45deg); transition: transform .3s ease-in-out; }
header nav ul.function > li.more button { position: relative; z-index: 2; transition: transform .3s ease-in-out; }


header nav ul.function > li.more { position: relative; }
header nav ul.function > li.more > ul.list { transition: all 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s; overflow: hidden; position: absolute; z-index: 1; top: 0px; left: 30px; width: 0; height: 40px; background: #232424; padding: 0; border-radius: 40px; box-sizing: border-box; opacity: 0; }
header nav ul.function > li.more > ul.list.ing { width: 234px; transition: 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s; left: -204px; opacity: 1; padding: 0 45px 0 20px;  }
header nav ul.function > li.more > ul.list li { display: inline-block; margin: 0 6px; }

header nav ul.function ul.list li a { display: block; background: url("../images/common.svg") no-repeat; margin: 0 auto; text-indent: -999999px; line-height: 0; }
header nav ul.function ul.list li a:hover, header nav ul.function ul.list li a:focus { opacity: .8; }
header nav ul.function ul.list li:nth-child(1) a { width: 18px; height: 17px; background-position: -196px -108px; }
header nav ul.function ul.list li:nth-child(2) a { width: 18px; height: 18px; background-position: -120px -108px; }
header nav ul.function ul.list li:nth-child(3) a { width: 18px; height: 18px; background-position: -158px -108px; }
header nav ul.function ul.list li:nth-child(4) a { width: 18px; height: 14px; background-position: -36px -170px; transform: translateY(2px); }
header nav ul.function ul.list li:nth-child(5) a { width: 21px; height: 14px; background-position: -272px -108px; transform: translateY(2px); }


/* CONTENT */
section#content { width: 100%; user-select: text; padding: 0 35px; box-sizing: border-box; }
section#content > div.contentWrap { max-width: 1660px; margin: 0 auto; position: relative; }

/* TITLE */
section#content div.documentTitle h2 { color: #707070; font-size: 13px; font-family: "Roboto", Sans-serif; position: relative; padding-right: 75px; display: inline-block;  }
section#content div.documentTitle h2:after { display: block; content: ""; position: absolute; right: 0; top: 45%; width: 68px; height: 1px; background: #707070; }
section#content div.documentTitle h3 { margin-top: 8px; font-size: 36px; color: #222323; font-weight: bold; font-family: "Roboto", Sans-serif; }
section#content div.documentTitle h3 span { margin-left: 7px; font-size: 14px; font-weight: normal; color: #df0019; vertical-align: top; line-height: 23px; }
section#content div.documentTitle nav.category ul { margin-top: 25px; }
section#content div.documentTitle nav.category ul li { display: inline-block; margin-right: 32px; position: relative; }
section#content div.documentTitle nav.category li.active:before { width: 38px; height: 2px; background: #df0019; display: block; content: ""; position: absolute; top: 8px; z-index: -1; }
section#content div.documentTitle nav.category button { all: unset; padding: 0; color: #4b4b4b; font-family: "Roboto", Sans-serif; cursor: pointer; text-transform: uppercase; }
section#content div.documentTitle nav.category button:hover, section#content div.documentTitle nav.category button:focus { color: #222323; }

/* FOOTER */
footer { margin: 0 auto; width: 100%; padding: 20px 35px 0 35px; box-sizing: border-box; display: inline-block; }
footer > div { margin: 0 auto; border-top: 1px solid #c9c9c9; height: 160px; max-width: 1660px; min-width: 1240px; position: relative; }

footer p.belief, a#scrollTop, footer nav.dropDown p span { background: url("../images/common.svg") no-repeat; display: inline-block; text-indent: -999999px; }
footer p.belief { position: absolute; top: 30px; left: 34px;  width: 610px; height: 56px; background-position: 0 0; }
footer address { position: absolute; top: 103px; left: 34px; font-size: 14px; color: #8f8f8f; font-family: "Roboto", Sans-serif; }
footer a#scrollTop { position: absolute; top: 41px; right: 54px; width: 25px; height: 32px; background-position: -75px -108px; }

    /* DROPDOWN */
    footer nav.dropDown { position: absolute; top: 25px; right: 115px; text-transform: uppercase; }
    footer nav.dropDown:hover ul, footer nav.dropDown:focus ul { display: block; }
    footer nav.dropDown:hover p, footer nav.dropDown:focus p { color: #555; }
    footer nav.dropDown:hover p span, footer nav.dropDown:focus p span { transform: rotate(45deg); filter: brightness(.6); }
    footer nav.dropDown p { padding-top: 25px; color: #898989; font-size: 14px; vertical-align: middle; text-align: right; }
    footer nav.dropDown p span { width: 17px; height: 18px; background-position: 0 -169px; vertical-align: top; line-height: 1; margin-left: 5px; }

    footer nav.dropDown ul { display: none; position: relative; z-index: 5; top: -150px; left: 10px; padding: 12px 15px; min-width: 130px; background: rgba(255, 255, 255, 0.9); border: solid 1px #999; }
    footer nav.dropDown li { display: block; padding: 2px 3px; border-bottom: 1px solid #eee; }
    footer nav.dropDown li:last-child { border: none; }
    footer nav.dropDown li a { display: block; font-size: 13px; line-height: 2; color: #999; font-family: "Roboto", "Spoqa Han Sans", Sans-serif; text-decoration: none; }
    footer nav.dropDown li a:hover, footer nav.dropDown li a:focus { color: #000; }