
section#contact div.contentWrap { width: 1375px; margin: 160px auto; }

div.title p, section#contact div.contentWrap li a i { text-indent: -999999px; display: block; position: relative; background: url("../images/contact.svg") no-repeat; }
div.title p:nth-child(1) { background-position: 0 -38px; width: 729px; height: 198px; }
div.title p:nth-child(2) { background-position: 0 -246px; width: 1024px; height: 71px; margin-top: 62px; position: relative; }

div.title p:nth-child(2) a:nth-child(1) { position: absolute; width: 146px; height: 67px; bottom: 0; left: 456px; }
div.title p:nth-child(2) a:nth-child(2) { position: absolute; width: 250px; height: 71px; right: 0; }
div.title span { position: absolute; top: 122px; left: 957px; width: 216px; height: 217px; background: url("../images/contact_sticker.png") no-repeat; background-size: cover; border-radius: 50%; z-index: -1; animation: stickerRotating 3s linear infinite; }
@keyframes stickerRotating {
    from { transform: rotate(0deg); } to { transform: rotate(360deg); }
}

div.text { color: #323232; font-size: 18px; line-height: 1.5; margin: 115px 0 0 780px; }
div.text p:nth-child(1) { letter-spacing: -.5px; }

section#contact div.contentWrap ul { position: absolute; top: 440px; }
section#contact div.contentWrap li { display: inline-block; margin-right: 17px; }
section#contact div.contentWrap li a { display: block; text-indent: -999999px; vertical-align: middle; width: 65px; height: 65px; border: 3px solid #001eff; border-radius: 50%; position: relative; }
section#contact div.contentWrap li a:hover, section#contact div.contentWrap li a:focus { background: #001eff; }
section#contact div.contentWrap li a:hover i, section#contact div.contentWrap li a:focus i { filter: brightness(0) invert(1); }

section#contact div.contentWrap li i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
section#contact div.contentWrap li:nth-child(1) a i { background-position: 0 0; width: 35px; height: 25px; margin-right: 1px; }
section#contact div.contentWrap li:nth-child(2) a i { background-position: -44px 0; width: 30px; height: 28px; margin-left: 1px; }



canvas#particles { position: fixed; width: 100%; height: 100%; z-index: -1; top: 0; left: 0; }