html { background-size: cover; transition: all .3s ease-in-out; }

section.content { margin-top: 90px; }
section.contentWrap { display: flex; }

section.content div.documentTitle nav.category ul li:before { left: -8px; }
section.content div.documentTitle nav.category ul li:nth-of-type(1).active:before { width: 43px; }
section.content div.documentTitle nav.category ul li:nth-of-type(2).active:before { width: 58px; }
section.content div.documentTitle nav.category ul li:nth-of-type(3).active:before { width: 108px; }
section.content div.documentTitle nav.category ul li:nth-of-type(4).active:before { width: 93px; }
section.content div.documentTitle nav.category ul li:nth-of-type(5).active:before { width: 34px; }
section.content div.documentTitle nav.category ul li:nth-of-type(6).active:before { width: 45px; }

nav#list { margin-left: -35px; width: 100vw; min-height: 600px; }
nav#list ul { padding: 0 6.250vw; }
nav#list li { display: none; margin: 135px 85px 50px 0; box-sizing: border-box; float: left; }

@media (max-width: 1660px) {
    nav#list ul { padding: 35px; }
}

nav#list li a { text-decoration: none; }

nav#list li a:hover div.thumbnail, nav#list li a:focus div.thumbnail { transform: scale(1.2); box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, .28); transition: all .2s cubic-bezier(.75,-0.5,0,1.75); }
nav#list div.thumbnail { transition: all .2s cubic-bezier(.75,-0.5,0,1.75); overflow: hidden; width: 245px; height: 245px; border-radius: 50%; box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.15); background: #eeeeee url("../images/thumbnail_loading.svg") 50% 50% no-repeat;  }
nav#list div.thumbnail img { width: 100%; height: 100%; }

nav#list li a:hover dl.title, nav#list li a:focus dl.title { opacity: 1; transition: opacity .2s cubic-bezier(.75,-0.5,0,1.75); }
nav#list dl.title { margin-top: 47px; opacity: 0; transition: opacity .2s cubic-bezier(.75,-0.5,0,1.75); }

nav#list dl.title dt { position: relative; font-size: 15px; font-family: "Roboto", Sans-serif; color: #4e4e4e; }
nav#list dl.title dt:before { content: ""; display: block; position: absolute; width: 20px; height: 1px; background: #4e4e4e; top: 8px; left: -30px; }

nav#list dl.title dd { margin-top: 15px; color: #fff; font-size: 13px; font-weight: bold; font-family: "Roboto", "Spoqa Han Sans", "NotoSans Regular", Sans-serif; }

nav#list dl.title dd span { display: table; padding: 4px 8px; background: #2a2a2a; margin-bottom: 2px; height: 20px; vertical-align: middle; line-height: 20px; border-radius: 4px; }
nav#list dl.title dd span:first-child { border-bottom-left-radius: 0; }
nav#list dl.title dd span:last-child { border-top-left-radius: 0; border-top-right-radius: 0; }

nav#list dl.title dd p.firstTitleShort span:first-child { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
nav#list dl.title dd p.firstTitleShort span:last-child { border-top-right-radius: 4px; }

#mCSB_1_scrollbar_horizontal { width: 500px !important; margin: 0 auto; left: -15px;  }
.mCSB_dragger, .mCSB_dragger_bar, .mCSB_draggerRail { border-radius: 0 !important; }
.mCSB_dragger_bar { background: #df0019 !important; }


/* front animation */
nav#list, ul.scrollBtn { opacity: 0; transition: all .3s ease-in-out; }
nav#list { transform: translateX(250px); transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); }
nav#list.load, ul.scrollBtn.load { opacity: 1; transform: translateX(0); }

ul.scrollBtn { opacity: 0; position: relative; top: -28px; margin: 0 0 100px 0; display: block; width: 114px; }
ul.scrollBtn li { display: inline-block; margin-right: 15px; }
ul.scrollBtn button { display: inline-block; position: relative; width: 40px; height: 40px; background: none; border: 2px solid #242525; border-radius: 50%; text-indent: -999999px; transition: all .1s ease-in-out; }
ul.scrollBtn button:hover, div.scrollBtn button:focus { background: #242525; transition: all .1s ease-in-out; }
ul.scrollBtn button:active { opacity: 0.6; transition: all .1s ease-in-out; }
ul.scrollBtn button:hover i, div.scrollBtn button:focus i { filter: brightness(9); transition: all .1s ease-in-out; }

ul.scrollBtn button i { display: block; text-indent: -999999px; background: url("../images/common.svg") -478px -109px no-repeat; width: 12px; height: 18px; top: 10px; left: 15px; position: absolute; transition: all .1s ease-in-out; }
ul.scrollBtn li:first-child i { transform: rotate(180deg); top: 8px; left: 9px; }
ul.scrollBtn p { display: inline-block; }



div#projectCover { cursor: pointer; display: none; position: fixed; top: 0; left: 0; background: rgba(242, 242, 242, .75); width: 100%; height: 100%; z-index: 20; -webkit-backdrop-filter: blur(5px); -moz-backdrop-filter: blur(5px); backdrop-filter: blur(5px); align-items: center; justify-content: center; }
div#projectCover section.contentWrap { display: block; cursor: default; border-radius: 15px; width: 1530px; height: 835px; box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.3); background: #f2f2f2; position: relative; }

div#projectCover div.info h4, div#projectCover ul.link a span, div#projectCover button.close, div#projectCover div.title a { display: block; text-indent: -999999px; background: url("../images/craft.svg") no-repeat; }

div#projectCover div.cover { width: 1530px; height: 665px; border-top-left-radius: 15px; border-top-right-radius: 15px; position: relative; }

div#projectCover div.title { position: absolute; left: 56px; bottom: 72px; }

div#projectCover div.title span.category { font-size: 15px; color: #d4d4d4; font-family: "Roboto", Sans-serif; font-weight: normal; }
div#projectCover div.title h3 { color: #fff; font-size: 52px; line-height: 1.15; margin-top: 25px; }
div#projectCover div.title h3 span.outline { color: rgba(255, 255, 255, 0); -webkit-text-stroke: 1.5px #fff; -moz-text-stroke: 1.5px #fff; text-stroke: 1.5px #fff;}
div#projectCover div.title a { width: 227px; height: 51px; background-position: 0 -22px; margin-top: 45px; }

div#projectCover div.info { padding: 47px 54px; }
div#projectCover div.info > div { margin-right: 60px; display: inline-block; padding-bottom: 10px; min-width: 200px; vertical-align: top; }
div#projectCover div.info > div:last-of-type { margin-right: 0; }
div#projectCover div.info > div.summery { width: 450px; border-right: 1px solid #dedede; }
div#projectCover div.info div.summery h4 { width: 83px; height: 13px; background-position: -72px 0; }
div#projectCover div.info div.project h4 { width: 79px; height: 13px; background-position: -165px 0; }
div#projectCover div.info div.technique h4 { width: 101px; height: 13px; background-position: -254px 0; }
div#projectCover div.info p { margin-top: 20px; color: #595959; font-size: 14px; line-height: 1.6; font-family: "Spoqa Han Sans", "NotoSans Regular", "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", 돋움, dotum, sans-serif; }
div#projectCover div.info div.summery p { letter-spacing: -.5px; }

div#projectCover ul.link { box-sizing: border-box; padding: 25px; width: 361px; height: 250px; position: absolute; right: 0; bottom: 0; background: #fff; box-shadow: 0 0 300px 0 rgba(0,0,0,0.21); }
div#projectCover ul.link li { height: 101px; }
div#projectCover ul.link li a.isDisabled { opacity: 0.2; }
div#projectCover ul.link li a.isDisabled:hover, div#projectCover ul.link li a.isDisabled:focus { opacity: 0.2; }
div#projectCover ul.link li:first-child { border-bottom: 1px solid #eee; }
div#projectCover ul.link li a { width: 100%; height: 100%; display: inline-block; }
div#projectCover ul.link li a:hover, div#projectCover ul.link li a:focus { opacity: .6; }
div#projectCover ul.link li a span { float: right; }
div#projectCover ul.link li:first-child a span { width: 157px; height: 16px; background-position: 0 -83px; margin-top: 35px; }
div#projectCover ul.link li:last-child a span { width: 140px; height: 16px; background-position: -164px -83px; margin-top: 50px; }

div#projectCover button.close { width: 62px; height: 12px; background-position: 0 0; position: absolute; right: -60px; top: 30px; border: 0; cursor: pointer; transform: rotate(90deg); }
div#projectCover button.close:hover, div#projectCover button.focus { background-position: -236px -22px; }


div#iframeView { display: none; position: fixed; z-index: 21; width: 100%; height: 100%; top: 0; left: 0; background: #f2f2f2 url("../images/thumbnail_loading.svg") 50% 50% no-repeat; }
div#iframeView iframe { border: 0; width: 100%; height: 100%; }
div#iframeView button.close { cursor: pointer; transition: all .2s cubic-bezier(0.5, -0.5, 0.5, 1.5); transform: scale(.8); text-indent: -999999px; position: absolute; top: 25px; right: 25px; width: 75px; height: 75px; border-radius: 50%; background: rgba(255, 255, 255, .8); border: 1px solid #eee; }
div#iframeView button.close:hover, div#iframeView button.close:focus { transition: all .2s cubic-bezier(0.5, -0.5, 0.5, 1.5); background: rgba(255, 255, 255, 1); transform: scale(1); box-shadow: 0 5px 15px 0 rgba(0,0,0,.2); }
div#iframeView button.close:active { filter: invert(1); box-shadow: none; }
div#iframeView button.close span { transform: scale(.8); display: block;  background: url("../images/craft.svg") -237px -44px no-repeat; width: 31px; height: 31px; margin: 0 auto; }