/* CSS RESET */
html{color:#000;background:#FFF;user-select:none}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
button { outline: 0; }
hr { clear: both; visibility: hidden; height: 0; border: 0 none; position: absolute; left: -999999px; top: -999999px; }

html { background: #f2f2f2; }
body { font-family: "Roboto", "Spoqa Han Sans", "NotoSans Regular", "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", 돋움, dotum, sans-serif; }

::selection { background: #df0019; }


header { margin: 80px auto 0 auto; position: relative; width: 1660px; height: 46px; margin-bottom: 30px; }
header h1 { position: absolute; left: 0; }
header h1 img { width: 46px; height: 46px; }

header nav { position: absolute; right: 0; }
header nav:after { content: ""; display: block; clear: both; }
header nav ul.gnb { float: left; margin-top: 18px; }
header nav ul.gnb li { display: inline-block; margin-right: 55px; height: 12px; text-indent: -99999px; }
header nav ul.gnb li:last-child { margin-right: 50px; }
header nav ul.gnb li a { background: url("../images/common.png") no-repeat; height: 12px; display: block; }
header nav ul.gnb li a:hover, header nav ul.gnb li a:focus, header nav ul.gnb li.active a { filter: contrast(2); }
header nav ul.gnb li a:hover:after, header nav ul.gnb li a:focus:after, header nav ul.gnb li.active a { display: block; content: ""; width: 4px; height: 4px; border-radius: 50%; background: #df0019; margin: 0 auto; }

header nav ul.gnb li:nth-child(1) a { background-position: -293px -86px; width: 52px; }
header nav ul.gnb li:nth-child(2) a { background-position: -365px -86px; width: 50px; }
header nav ul.gnb li:nth-child(3) a { background-position: -85px -86px; width: 93px; }
header nav ul.gnb li:nth-child(4) a { background-position: -198px -86px; width: 75px; }

header nav ul.function { float: right; margin-top: 5px; position: relative; }
header nav ul.function > li { margin-right: 20px; display: inline-block; vertical-align: top; }
header nav ul.function li:last-child { margin: 0; }

header nav ul.function > li > a, header nav ul.function > li > button { display: block; width: 40px; height: 40px;  border-radius: 50%; background: #232424; border: none; text-indent: -999999px; padding: 0; margin: 0; }
header nav ul.function > li > a:hover, header nav ul.function > li > a:focus { background: #001eff; }
header nav ul.function > li > button:hover, header nav ul.function > li > button:focus { background: #df0019; }

header nav ul.function > li span { background: url("../images/common.png") no-repeat; display: block; margin: 0 auto; }
header nav ul.function > li.chat span { width: 18px; height: 16px; background-position: -244px -118px; transform: translateY(75%); }
header nav ul.function > li.more span { width: 15px; height: 15px; background-position: -10px -216px; transform: translateY(-4%); }
header nav ul.function > li.more button.ing { background: #df0019; transform: rotate(45deg); transition: transform .3s ease-in-out; }
header nav ul.function > li.more button { position: relative; z-index: 2; transition: transform .3s ease-in-out; }


header nav ul.function > li.more { position: relative; }
header nav ul.function > li.more > ul.list { transition: all .3s; overflow: hidden; position: absolute; z-index: 1; top: 0px; left: 30px; width: 0; height: 40px; background: #232424; padding: 0; border-radius: 40px; box-sizing: border-box; opacity: 0; }
header nav ul.function > li.more > ul.list.ing { width: 234px; transition: all .3s; left: -204px; opacity: 1; padding: 0 45px 0 20px;  }
header nav ul.function > li.more > ul.list li { display: inline-block; margin: 0 6px; }

header nav ul.function ul.list li a { display: block; background: url("../images/common.png") no-repeat; margin: 0 auto; text-indent: -999999px; line-height: 0; }
header nav ul.function ul.list li a:hover, header nav ul.function ul.list li a:focus { opacity: .8; }
header nav ul.function ul.list li:nth-child(1) a { width: 18px; height: 17px; background-position: -206px -118px; }
header nav ul.function ul.list li:nth-child(2) a { width: 18px; height: 18px; background-position: -130px -118px; }
header nav ul.function ul.list li:nth-child(3) a { width: 18px; height: 18px; background-position: -168px -118px; }
header nav ul.function ul.list li:nth-child(4) a { width: 18px; height: 14px; background-position: -46px -180px; transform: translateY(1px); }
header nav ul.function ul.list li:nth-child(5) a { width: 20px; height: 13px; background-position: -282px -118px; transform: translateY(2px); }


/* CONTENT */
div#content { width: 1670px; margin: 0 auto; user-select: text; }

/* FOOTER */
footer { margin: 20px auto 0 auto; width: 1660px; height: 160px; border-top: 1px solid #c9c9c9; position: relative; }

footer p.belief, a#scrollTop, footer nav.dropDown p span { background: url("../images/common.png") no-repeat; display: inline-block; text-indent: -999999px; }
footer p.belief { position: absolute; top: 30px; left: 34px;  width: 610px; height: 56px; background-position: -10px -10px; }
footer address { position: absolute; top: 103px; left: 34px; font-size: 14px; color: #8f8f8f; font-family: "Roboto", Sans-serif; }
footer a#scrollTop { position: absolute; top: 41px; right: 54px; width: 25px; height: 32px; background-position: -85px -118px; }

    /* DROPDOWN */
    footer nav.dropDown { position: absolute; top: 25px; right: 115px; text-transform: uppercase; }
    footer nav.dropDown:hover ul, footer nav.dropDown:focus ul { display: block; }
    footer nav.dropDown:hover p, footer nav.dropDown:focus p { color: #555; }
    footer nav.dropDown:hover p span, footer nav.dropDown:focus p span { transform: rotate(45deg); filter: brightness(.6); }
    footer nav.dropDown p { padding-top: 25px; color: #898989; font-size: 14px; vertical-align: middle; text-align: right; }
    footer nav.dropDown p span { width: 16px; height: 16px; background-position:  -10px -180px; vertical-align: top; line-height: 1; margin-left: 5px; }

    footer nav.dropDown ul { display: none; position: relative; z-index: 5; top: -150px; left: 10px; padding: 12px 15px; min-width: 130px; background: rgba(255, 255, 255, 0.9); border: solid 1px #999; }
    footer nav.dropDown li { display: block; padding: 2px 3px; border-bottom: 1px solid #eee; }
    footer nav.dropDown li:last-child { border: none; }
    footer nav.dropDown li a { display: block; font-size: 13px; line-height: 2; color: #999; font-family: "Roboto", "Spoqa Han Sans", Sans-serif; text-decoration: none; }
    footer nav.dropDown li a:hover, footer nav.dropDown li a:focus { color: #000; }