@charset "UTF-8";

html {
    font-size: 62.5%;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "ubuntu", "KoPubDotum", sans-serif;
}

body, p {
    font-family: "ubuntu", "KoPub Batang", serif;
    font-size: 1.4rem;
    line-height: 1.8;
}

p {
    margin-bottom: 10px;
}

h1 { 
    font-family: "ubuntu", sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
}

ul.translate {
    font-family: "ubuntu", "KoPubDotum", sans-serif;
    font-size: 1.4rem;
}

ul.translate li {
    margin-right: 5px;
}

ul.translate li:last-childe {
    margin-right: 0;
}



div.intro {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

div.intro < div.content {
    width: 600px;
    height: 500px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.35);
    
}